# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Base de datos local
*.sqlite3
*.db

# Archivos generados dinámicamente por pyShelf
src/frontend/static/covers/*
!src/frontend/static/covers/.gitkeep
src/data/

# Dependencias frontend (si aplican)
node_modules/
dist/

# Entornos virtuales
venv/
.venv/
env/

# Configuración o claves locales (evita subir credenciales)
config.json
.env


# Logs
*.log
data/

# Archivos CSS compilados (si los generas dinámicamente con compile.sh)
src/frontend/static/styles/*.css
!src/frontend/static/styles/.gitkeep
