{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', path='script/pako.min.js') }}"></script>
<script type="text/javascript">
    const books = {{ books|books_tojson }};
    let inflatedJSON = {};
    const pako = require('pako');
    inflatedJSON = JSON.parse(pako.inflate(books, { to: 'string'}));
</script>
{% endblock %}

{% include 'header.html' %}


<section id="master-container">
    <div id="book-shelf">
        {% for book in books %}
        <a class="is-dark book" id="{{ book.id }}" target="_blank" href="/api/get_book/{{ book.id }}">
            <div class="image book-thumbnail">
                <figure class="image">
                    <img src="/api/cover/{{ book.id }}" alt="{{ book.title }}" onerror="this.onerror=null; this.src='{{ url_for('static', path='images/no-cover.jpg') }}';" />
                </figure>
            </div>
            <div class="book-title-sub" title="{{ book.title if book.title else book.file_name }}">
                {{ book.title if book.title else book.file_name }}
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% include 'footer.html' %}
